body, ul, li{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

section{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    background-color: cornflowerblue;
}
.footer-contents{
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: cornflowerblue;
    padding: 20px 20px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.logo{
    color: black;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
}

.logo a{
    text-decoration: none;
    color: black;
    transition: 0.3s ease;
}

.logo a:hover{
    font-size: 1.5em;
}

.nav-items{
    display: flex;
    gap: 15px;
}

.nav-items li{
    display: inline;
}

.nav-items a{
    text-decoration: none;
    color: black;
    padding: 8px 12px;
    border-radius: 4px;
    transition: color 0.5s ease, border-bottom 0.3s ease;
}

.nav-items a:hover{
    color: rgb(63, 65, 68);
    transform: scale(1.1);
}

.menu-icon{
    display: none;
    position: static;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.menu-icon span{
    width: 30px;
    height: 3px;
    background-color: black;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

@media screen and (max-width: 600px){
    .menu-icon{
        display: flex;
        position: absolute;
        top: 1rem;
        right: 10px;
    }
    .nav-items{/* Start from here!!!*/
        display: none;
        flex-direction: column;
        position: relative;
        top: 1rem;
        justify-content: center;
        align-items: center;
    }
    .nav-items.active{
        display: flex;
    }
    .menu-icon.open span:nth-child(1){
        transform: rotate(45deg) translate(0);
    }
    .menu-icon.open span:nth-child(3){
        opacity: 0;
    }
    .menu-icon.open span:nth-child(2){
        transform: rotate(-45deg) translate(5px, -5px);
    }
}